
body {background: black; color: white; }
	h1 {font-size: 20px;}
	p {font-size: 12px; color: green; }
	ol {list-style-type: upper-roman ; }
	ul {list-style-type: square; }
.square {border-style: dotted; width: 100px; height: 100px;  }
