.shadow{
	border: 1px solid;
	padding: 10px;
	box-shadow: 5px 10px;
	margin: 10px;
	
}
.image{
	background-image:url(img/galaxy.jpg);
	background-size: cover;
	padding: 10px;
	margin: 15px;
}
h1,h2 {
  text-shadow: 2px 2px #FF0000;
}
p{
text-shadow:2px 2px #888888;
}
a {
	color:#000000;
}
a:hover {		
	color: #FF0000;
	transition: color 2s;
}
@media only screen and (max-width: 800px) {
  body {
    background-color: #000000;
	color:#ffffff;
  }
}
 