.topright {
	Position: absolute;
	top: 10px;
	right: 15px;	
}
.border {
	border-style: solid;
	width: 200px; height: 50px;
	padding: 10px;
}
body {
	background:#006666;
}
.roundborder {
	border-style: solid;
	width: 200px; height: 150px;
	background:#00ffcc;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
#blueheader{
background: #809fff;
padding-left: 5px;
}
#bluenav {
background: #e6ecff;
padding-left: 5px;
}
#bluesection {
background: #3366ff;
padding-left: 5px;
}
#blueaside {
	float: right;
	background: #4d79ff;
    padding-left: 10px;
	padding-right: 5px;
}
#bluefooter {
background: #b3c6ff;	
}
	