.topright {
	Position: absolute;
	top: 10px;
	right: 15px;	
}
.border {
	border-style: solid;
	width: 200px; height: 50px;
	padding: 10px;
}
body {
	background:#006666;
}
.roundborder {
	border-style: solid;
	width: 200px; height: 150px;
	background:#00ffcc;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
}