
.header{
	width: 100%;
	height: 400px;
	background-image: url(img/galaxy.jpg);
	background-position: center;
	background-size: cover;
	color:#fff;
}
h2{
	padding: 2%;
}
nav{
	padding: 2%;
}
nav ul{
	list-style-type: none;			
	padding: 0;	
	margin: 0;
	display: inline-block;
	overflow: hidden;
}
nav li{
	float: left;
}
nav li a{
	
	text-decoration: none;
	padding: 16px;
	color: #fff;
	text-align: center;
}
nav li a:hover {		
	color: #cc0000;
}
article{
	padding:2%;

}
body{
	background:#6666cc;
	
}